<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个对应的接口-->
<mapper namespace="com.levi.log.dao.BlogTagDaoMapper">
    <insert id="addBlogTag">
        insert into blog_tag value(#{blogId},#{tagId})
    </insert>
    <!--删除tag-->
    <delete id="deleteBlogTag">
        delete from blog_tag where blog_tag_blogId=#{blogId}
    </delete>
</mapper>